body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#container {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease;
}

#randomString {
    text-align: center;
    word-wrap: break-word;
    max-width: 100%;
    padding: 20px;
    cursor: pointer;
    transition: color 0.5s ease; /* Add this line for smooth text color transition */
}
